 <div class="app-pane__side-bar">

            <nav class="app-side-nav">
            
                <h2 class="app-side-nav__heading">NHS login</h2>
                <ul class="nhsuk-list app-side-nav__list">

                  <li class="app-side-nav__item">
                    <a class="app-side-nav__link" href="/nhslogin">What is NHS login?</a>
                  </li>
                  <li class="app-side-nav__item">
                    <a class="app-side-nav__link" href="nhslogin/oidc-login-flow">The OIDC login flow</a>
                  </li>
                </ul>
                <h2 class="app-side-nav__heading">Integrating with NHS login</h2>
                <ul class="nhsuk-list app-side-nav__list">

                  <li class="app-side-nav__item">
                    <a class="app-side-nav__link" href="/nhslogin/integration-process">The NHS login integration process</a>
                  </li>
                  <li class="app-side-nav__item">
                    <a class="app-side-nav__link" href="nhslogin/adding-buttons">Adding the NHS login button to your service</a>
                  </li>
                </ul>
                <h2 class="app-side-nav__heading">Testing NHS login</h2>
                <ul class="nhsuk-list app-side-nav__list">

                  <li class="app-side-nav__item">
                    <a class="app-side-nav__link" href="/nhslogin/test-login-service">Test environments</a>
                  </li>
                  <li class="app-side-nav__item">
                    <a class="app-side-nav__link" href="nhslogin/integrating-to-sandpit">Integrate to the sandpit</a>
                  </li>
                  <li class="app-side-nav__item">
                    <a class="app-side-nav__link" href="nhslogin/generating-pem">Generate public key</a>
                  </li>
                </ul>
                <h2 class="app-side-nav__heading">External Interface Specification</h2>
                <ul class="nhsuk-list app-side-nav__list">

                  <li class="app-side-nav__item">
                    <a class="app-side-nav__link" href="nhslogin/interface-spec-doc">Interface Specification Document</a>
                </ul>

                <h2 class="app-side-nav__heading">Conformance</h2>
                <ul class="nhsuk-list app-side-nav__list">

                  <li class="app-side-nav__item">
                    <a class="app-side-nav__link" href="nhslogin/technical-conformance">Technical Conformance</a>
                  </li>
                </ul>

                <h2 class="app-side-nav__heading">Developer Support Information</h2>
                <ul class="nhsuk-list app-side-nav__list">

                  <li class="app-side-nav__item">
                    <a class="app-side-nav__link" href="nhslogin/developer-support">Developer Support</a>
                  </li>
                </ul>

                <h2 class="app-side-nav__heading">GP Credentials</h2>
                <ul class="nhsuk-list app-side-nav__list">
                   <li class="app-side-nav__item">
                    <a class="app-side-nav__link" href="nhslogin/gp-credentials-para">Using NHS login to create or retrieve GP credentials</a>
                  </li>
                  <li class="app-side-nav__item">
                    <a class="app-side-nav__link" href="nhslogin/gp-credentials-doc">Scope and processing overview </a>
                  </li>
                </ul>
                <h2 class="app-side-nav__heading">NHS login user settings</h2>
                <ul class="nhsuk-list app-side-nav__list">
                  <li class="app-side-nav__item">
                    <a class="app-side-nav__link" href="nhslogin/linking-to-settings-para">Settings information</a>
                  </li>
                </ul>
                <h2 class="app-side-nav__heading">Single Sign On</h2>
                <ul class="nhsuk-list app-side-nav__list">
                  <li class="app-side-nav__item">
                    <a class="app-side-nav__link" href="nhslogin/single-sign-on">SSO guidance</a>
                  </li>
                </ul>
                <h2 class="app-side-nav__heading">Examples</h2>
                <ul class="nhsuk-list app-side-nav__list">
                  <li class="app-side-nav__item">
                    <a class="app-side-nav__link" href="nhslogin/example-oidc">Example OIDC clients</a>
                  </li>
                </ul>
            </nav>
          </div>
