 <div class="app-pane__side-bar">

            <nav class="app-side-nav">
            
                <h2 class="app-side-nav__heading">NHS login</h2>
                <ul class="nhsuk-list app-side-nav__list">

                  <li class="app-side-nav__item">
                    <a class="app-side-nav__link" href="/nhslogin">What is NHS login?</a>
                  </li>
                  <li class="app-side-nav__item">
                    <a class="app-side-nav__link" href="nhslogin/oidc-login-flow">The OIDC login flow</a>
                  </li>
                </ul>
                <h2 class="app-side-nav__heading">Integrating with NHS login</h2>
                <ul class="nhsuk-list app-side-nav__list">

                  <li class="app-side-nav__item">
                    <a class="app-side-nav__link" href="/nhslogin/integration-process">The NHS login integration process</a>
                  </li>
                  <li class="app-side-nav__item">
                    <a class="app-side-nav__link" href="nhslogin/user-journeys">NHS login user journeys</a>
                  </li>
                  <li class="app-side-nav__item">
                    <a class="app-side-nav__link" href="nhslogin/button-guidance">Adding the NHS login button to your service</a>
                  </li>
                  <!-- 
                  <li class="app-side-nav__item">
                    <a class="app-side-nav__link" href="nhslogin/sharing-users-information">Sharing a user's NHS login information with your service</a>
                  </li>
                  -->
                </ul>
                <h2 class="app-side-nav__heading">Testing NHS login</h2>
                <ul class="nhsuk-list app-side-nav__list">

                  <li class="app-side-nav__item">
                    <a class="app-side-nav__link" href="/nhslogin/compare-environments">Compare NHS login environments</a>
                  </li>
                  <li class="app-side-nav__item">
                    <a class="app-side-nav__link" href="nhslogin/integrating-to-sandpit">Integrate to the sandpit</a>
                  </li>
                  <li class="app-side-nav__item">
                    <a class="app-side-nav__link" href="nhslogin/generating-pem">Generate public key</a>
                  </li>
                  <li class="app-side-nav__item">
                    <a class="app-side-nav__link" href="/nhslogin/test-data">Test data</a>
                  </li>
                  <li class="app-side-nav__item">
                    <a class="app-side-nav__link" href="/nhslogin/testing-scenarios">Testing scenarios</a>
                  </li>
                </ul>

                <h2 class="app-side-nav__heading">External Interface Specification</h2>
                <ul class="nhsuk-list app-side-nav__list">

                  <li class="app-side-nav__item">
                    <a class="app-side-nav__link" href="nhslogin/interface-spec-doc">Interface Specification Document</a>
                </ul>

                <h2 class="app-side-nav__heading">Conformance</h2>
                <ul class="nhsuk-list app-side-nav__list">

                  <li class="app-side-nav__item">
                    <a class="app-side-nav__link" href="nhslogin/technical-conformance">Technical Conformance</a>
                  </li>
                </ul>

                <h2 class="app-side-nav__heading">Developer Support Information</h2>
                <ul class="nhsuk-list app-side-nav__list">

                  <li class="app-side-nav__item">
                    <a class="app-side-nav__link" href="nhslogin/developer-support">Developer Support</a>
                  </li>
                </ul>
                <h2 class="app-side-nav__heading">Features</h2>
                <ul class="nhsuk-list app-side-nav__list">
                  <li class="app-side-nav__item">
                    <a class="app-side-nav__link" href="nhslogin/fido">Biometric FIDO authentication</a>
                  </li>
                  <li class="app-side-nav__item">
                    <a class="app-side-nav__link" href="nhslogin/gp-credentials">GP credentials</a>
                  </li>
                  <li class="app-side-nav__item">
                    <a class="app-side-nav__link" href="nhslogin/step-up-p5-p9">Medium (P5) to high (P9) verification step-up journey</a>
                  </li>
                  <li class="app-side-nav__item">
                    <a class="app-side-nav__link" href="nhslogin/linking-to-settings">NHS login user settings</a>
                  </li>
                  <li class="app-side-nav__item">
                    <a class="app-side-nav__link" href="nhslogin/scopes-and-claims">Scopes and claims</a>
                  </li>                  
                  <li class="app-side-nav__item">
                    <a class="app-side-nav__link" href="nhslogin/session-management">Session management</a>
                  </li>
                  <li class="app-side-nav__item">
                    <a class="app-side-nav__link" href="nhslogin/single-sign-on">Single Sign On (SSO)</a>
                  </li>
                  <li class="app-side-nav__item">
                    <a class="app-side-nav__link" href="nhslogin/vectors-of-trust">Vectors of Trust</a>
                  </li>
                </ul>
                <h2 class="app-side-nav__heading">Code examples</h2>
                <ul class="nhsuk-list app-side-nav__list">
                  <li class="app-side-nav__item">
                    <a class="app-side-nav__link" href="nhslogin/example-oidc">Example OIDC clients</a>
                  </li>
                </ul>
            </nav>
          </div>
