 <div class="app-pane__side-bar">

            <nav class="app-side-nav">
            
                <h2 class="app-side-nav__heading">NHS login</h2>
                <ul class="nhsuk-list app-side-nav__list">

                  <li class="app-side-nav__item">
                    <a class="app-side-nav__link" href="/nhs-dev-docs">What is NHS login?</a>
                  </li>
                  <li class="app-side-nav__item">
                    <a class="app-side-nav__link" href="nhs-dev-docs/oidc-login-flow">The OIDC login flow</a>
                  </li>
                </ul>

                <h2 class="app-side-nav__heading">New to this document?</h2>
                <ul class="nhsuk-list app-side-nav__list">

                  <li class="app-side-nav__item">
                    <a class="app-side-nav__link" href="nhs-dev-docs/reference-guide">A quick reference guide</a>
                  </li>
                </ul>

                <h2 class="app-side-nav__heading">External Interface Specification</h2>
                <ul class="nhsuk-list app-side-nav__list">

                  <li class="app-side-nav__item">
                    <a class="app-side-nav__link" href="nhs-dev-docs/interface-spec-doc">Interface Specification Document</a>
                </ul>

                <h2 class="app-side-nav__heading">Conformance</h2>
                <ul class="nhsuk-list app-side-nav__list">

                  <li class="app-side-nav__item">
                    <a class="app-side-nav__link" href="nhs-dev-docs/technical-conformance">Technical Conformance</a>
                  </li>
                </ul>

                <h2 class="app-side-nav__heading">Developer Support Information</h2>
                <ul class="nhsuk-list app-side-nav__list">

                  <li class="app-side-nav__item">
                    <a class="app-side-nav__link" href="nhs-dev-docs/developer-support">Developer Support</a>
                  </li>
                </ul>

                <h2 class="app-side-nav__heading">GP Credentials</h2>
                <ul class="nhsuk-list app-side-nav__list">
                   <li class="app-side-nav__item">
                    <a class="app-side-nav__link" href="nhs-dev-docs/gp-credentials-para">Using NHS login to create or retrieve GP credentials</a>
                  </li>
                  <li class="app-side-nav__item">
                    <a class="app-side-nav__link" href="nhs-dev-docs/gp-credentials-doc">Scope and processing overview </a>
                  </li>
                </ul>
                <h2 class="app-side-nav__heading">Button Guidance</h2>
                <ul class="nhsuk-list app-side-nav__list">

                  <li class="app-side-nav__item">
                    <a class="app-side-nav__link" href="nhs-dev-docs/adding-buttons">Adding the NHS login button to your service</a>
                  </li>
                </ul>
                <h2 class="app-side-nav__heading">Linking your Service</h2>
                <ul class="nhsuk-list app-side-nav__list">
                  <li class="app-side-nav__item">
                    <a class="app-side-nav__link" href="nhs-dev-docs/linking-to-settings-para">About linking</a>
                  </li>
                   <li class="app-side-nav__item">
                    <a class="app-side-nav__link" href="nhs-dev-docs/linking-to-settings-ppt">Guidance</a>
                  </li>
                </ul>
                <h2 class="app-side-nav__heading">Examples</h2>
                <ul class="nhsuk-list app-side-nav__list">
                  <li class="app-side-nav__item">
                    <a class="app-side-nav__link" href="nhs-dev-docs/example-oidc">Different implementations and integration of service</a>
                  </li>
                </ul>
            </nav>
          </div>